.evil::after{content: '▲';position: absolute;top: -39%;left: 0;width: 10%;height: 10%;color: #000;}
.evil::before{content: '▲';position: absolute;top: -39%;right: 0;width: 10%;height: 10%;color: #000;}
button{width: 20%;height: 10%;border: none;background-color: blue;color: white;}